<%= content_for(:javascript_tags) do %>
  <%= javascript_include_tag("https://cdn.jsdelivr.net/npm/hanzi-writer@3.0/dist/hanzi-writer.min.js") %>
<% end %>

<div id="character-target-div"></div>

<script>
document.addEventListener("turbolinks:load", function(event) {
  var writer = window.HanziWriter.create('character-target-div', '我', {
    width: 100,
    height: 100,
    padding: 5
  });
})
</script>
