<%= turbo_frame_tag dom_id(character) do %>
  <div class="box">
    <%= turbo_frame_tag "character_form" do %>
      <%= link_to("Character #{character.value}", edit_character_path(character)) %>
    <% end %>
  </div>
<% end %>
